

/* Start:/bitrix/templates/s1/styles.css?15022714481359*/
element.style {
}
sticky-footer-navbar.css:11
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}
normalize.less:46
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
bootstrap.css:1062
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
article, aside, footer, header, hgroup, main, nav, section {
    display: block;
}
Inherited from body
scaffolding.less:32
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
Inherited from html
scaffolding.less:27
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
normalize.less:10
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
Pseudo ::before element
bootstrap.css:1068
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
Pseudo ::after element
bootstrap.css:1068
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* End */


/* Start:/bitrix/templates/s1/template_styles.css?15022713281805*/
.adm-workarea *{-webkit-box-sizing: content-box;-moz-box-sizing: content-box;box-sizing: content-box; }
.adm-workarea textarea {line-height: 18px;}
.bx-calendar-button-text {height: 23px;}
.bx-core-waitwindow {}

input[type='text'],input[type='password'],input[type='number'], textarea {-webkit-appearance: none;}

* {outline: none!important}

a, .btn-link, a:focus, .btn-link:focus {}
a:hover, .btn-link:hover {}

a.net {color: #666;}
a.net:hover {color:#333; text-decoration: none;}
a.net:hover span{color:#E96E00;}

.alert {}

.form-control {}
.form-control:focus{}

.btn-danger:focus, .btn-danger {}
.btn-danger:active:focus, .btn-danger:active, .btn-danger:hover {}


html {position: relative; min-height: 100%;}
body {margin-bottom: 60px;}

#footer {position: absolute;bottom: 0;width: 100%;height: 60px;}

/*desktops*/
@media (max-width: 1200px) { 

}
/*tablets*/
@media (max-width: 992px) {

}
/*phones*/
@media (max-width: 767px) { 

}

element.style {
}
sticky-footer.css:3
html {
    position: relative;
    min-height: 100%;
}
scaffolding.less:27
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
normalize.less:10
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
bootstrap.css:1062
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html[Attributes Style] {
    -webkit-locale: "en";
}
user agent stylesheet
html {
    display: block;
}
Pseudo ::before element
bootstrap.css:1068
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
Pseudo ::after element
bootstrap.css:1068
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* End */
/* /bitrix/templates/s1/styles.css?15022714481359 */
/* /bitrix/templates/s1/template_styles.css?15022713281805 */
