
/* Start:/bitrix/templates/s1/template_styles.css?1502268912944*/
.adm-workarea *{-webkit-box-sizing: content-box;-moz-box-sizing: content-box;box-sizing: content-box; }
.adm-workarea textarea {line-height: 18px;}
.bx-calendar-button-text {height: 23px;}
.bx-core-waitwindow {}

input[type='text'],input[type='password'],input[type='number'], textarea {-webkit-appearance: none;}

* {outline: none!important}

a, .btn-link, a:focus, .btn-link:focus {}
a:hover, .btn-link:hover {}

a.net {color: #666;}
a.net:hover {color:#333; text-decoration: none;}
a.net:hover span{color:#E96E00;}

.alert {}

.form-control {}
.form-control:focus{}

.btn-danger:focus, .btn-danger {}
.btn-danger:active:focus, .btn-danger:active, .btn-danger:hover {}


html {position: relative; min-height: 100%;}
body {margin-bottom: 60px;}

#footer {position: absolute;bottom: 0;width: 100%;height: 60px;}

/*desktops*/
@media (max-width: 1200px) { 

}
/*tablets*/
@media (max-width: 992px) {

}
/*phones*/
@media (max-width: 767px) { 

}
/* End */

/* Start:/bitrix/css/main/themes/blue/style.min.css?1502268218331*/
.bx-blue .btn.btn-default{outline:0;background-color:#1485ce;border-color:#1485ce;color:#FFF}.bx-blue .btn.btn-default:hover{outline:0;background-color:#53a4d8;border-color:#53a4d8;color:#FFF}.bx-blue .btn.btn-default:active{outline:0;-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);box-shadow:inset 0 3px 5px rgba(0,0,0,.125)}
/* End */
